*{
    margin: 0;
    padding: 0;
}

body{

    background-image: url(./img/Fundo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

@media screen and (min-width: 800px) {

body{
    background-image: url(./img/image-header.png);
    background-size: 100%;
       
}
}